recursive-include *.md
exclude fcwslib/*
exclude bgArrayLib/*
exclude Packer/*
exclude ./*.mid
exclude ./*.MSQ
exclude ./MSCT_Packer.py
exclude resources/poem.md
exclude resources/*
include LICENSE.md
include requirements.txt
include README_EN.md
include README.md